@media (min-width: 744px) {
	.table-scroll-custom {
		padding-right: 4px;
		scrollbar-width: thin;
		scrollbar-color: #ababab transparent;
	}

	.table-scroll-custom::-webkit-scrollbar {
		width: 9px;
	}

	.table-scroll-custom::-webkit-scrollbar-track {
		background: transparent;
	}

	.table-scroll-custom::-webkit-scrollbar-thumb {
		background-color: #ababab;
		border-radius: 10px;
	}

	.table-scroll-custom::-webkit-scrollbar-thumb:hover {
		background-color: #999999;
	}
}
